---
const SOLUCIONES = [
  {
    icon: "coins-solid-full.svg",
    value: "$197",
    title: "El paso a paso para cobrar +1.000 d칩lares",
    description: `Videos con el paso a paso para establecer las bases de un negocio High Ticket, enfocados para negocios y freelancers de dise침o y desarrollo web.

S칤, pod칠s cobrar m치s 1.000 d칩lares por trabajo, y lo mejor son clientes que te van a respetar mucho m치s.`,
    image: "solucion-1.webp", // imagen de las monedas
  },
  {
    icon: "magnet-solid-full.svg",
    value: "$197",
    title: "Conseguir tus primeros clientes (r치pido)",
    description: `El paso m치s dif칤cil es el primero, pero tambi칠n es el que m치s te aleja del punto de partida.

Te explicamos c칩mo correr anuncios para que conseguir clientes sea cuesti칩n de tiempo.

Y tambien m칠todos para conseguir tus primeros clientes sin invertir en anuncios.`,
    image: "solucion-2.webp", // im치n
  },
  {
    icon: "brain-solid-full.svg",
    value: "$97",
    title: "LBL AI",
    description: `Accede de manera ilimitada y de por vida a LBL AI.

S칤, pag치s una vez y pod칠s crear todos los anuncios, textos y guiones de VSL que quieras.`,
    image: "solucion-3.webp", // cerebro
  },
  {
    icon: "key-solid-full.svg",
    value: "$297",
    title: "Acceso a LBL de por vida",
    description: `Vas a tener acceso a todos los nuevos videos, herramientas y actualizaciones de LBL.

Y no, no te vamos a quitar el contenido en tres meses como hacen muchos para obligarte a comprarnos m치s.`,
    image: "solucion-4.webp", // llave
  },
  {
    icon: "clock-solid-full.svg",
    value: "$209",
    title: "Acceso anticipado y prueba gratis",
    description: `Estamos trabajando en un software para que crear y lanzar landings VSL sea m치s f치cil que nunca.

Con la compra de tu curso entr치s en la lista de 'Early Access' para que puedas usar la herramienta antes que nadie.`,
    image: "solucion-5.webp", // reloj de arena
  },
];

---

<section class="pt-[80px]">
	<div class="lbl-container">
		<div class="max-w-full relative w-[1000px] py-[40px] mx-auto">
			<p
				class="bg-[#2BDA6E]/40 flex items-center gap-2 text-[14px] border-2 border-[#2BDA6E] py-[13px] px-[27px] text-white rounded-full w-fit mx-auto"
			>
				<img src="/images/trophy-icon.svg" alt="Tus problemas" />
				<span>Tu soluci칩n</span>
			</p>
			<h2
				class="text-white text-[32px] md:text-[51px] font-bold text-center leading-[100%] mt-8 drop-shadow-[0_15px_15px_rgba(255,255,255,0.25)]"
			>
				Algo Nunca Antes Visto...
			</h2>
			<p
				class="text-[#2BDA6E] text-[18px] mt-4 text-center max-w-[668px] leading-[100%] mx-auto"
			>
				Estas a un click de poder desbloquear lo siguiente. 游녢游낕
			</p>
			<img
				class="max-w-full w-[750px] mx-auto mt-8"
				src="/images/landing-builders-lab-robotic-hand.webp"
				alt="Landing Builders Lab Manos Roboticas"
			/>
		</div>
		<div class="grid gap-8 md:gap-0 max-w-[825px] mx-auto">
			{
				SOLUCIONES.map((solution, index) => {
					const order = index % 2 !== 0 ? "md:-order-1" : "md:order-2";
					return (
						<div class={`grid md:grid-cols-2 md:gap-16 ${index > 0 ? 'md:-mt-8' : ''}`}>
							<div class="flex items-center">
								<div>
									<div class="flex justify-between items-center">
										<p class="size-[54px] flex justify-center items-center outline-[6px] outline-[#2BDA6E]/40 rounded-full bgLblGreen">
											<img
												class="fill-white size-6"
												src={`/images/${solution.icon}`}
												alt={solution.title}
											/>
										</p>
										<span class="block text-[18px] font-medium line-through w-fit bgLblGreen py-[2px] px-[8px] rounded-[8px]">
											{solution.value}
										</span>
									</div>
									<h3 class="text-white text-[18px] font-medium text-start leading-[100%] mt-6 drop-shadow-[0_15px_15px_rgba(255,255,255,0.25)]">
										{solution.title}
									</h3>
									<p class="whitespace-pre-line leading-[100%] text-[14px] mt-2 text-[#2BDA6E]">
										{solution.description}
									</p>
								</div>
							</div>
							<div class={`flex items-center px-6 pt-6 md:p-0 justify-center -order-1 ${order}`}>
								<img class="max-w-full" src={`/images/${solution.image}`} alt="" />
							</div>
						</div>
					);
				})
			}
		</div>
	</div>
</section>
